body {
  
  margin-top: 5rem;
  min-height:100vh;
  
  background: #fafafa;
  color: #333333;
  background: #c2e59c;
  background: -webkit-linear-gradient(to bottom, #64b3f4, #c2e59c);
  background: linear-gradient(to bottom, #c2e59c, #64b3f4);
  
  /* OTRA OPCION DE FONDO: */
  /* 
  background-color: #d5d5d5;
  opacity: 1;
  background: linear-gradient(135deg, #e9e9e955 25%, transparent 25%) -17px 0/ 34px 34px, 
  linear-gradient(225deg, #e9e9e9 25%, transparent 25%) -17px 0/ 34px 34px, 
  linear-gradient(315deg, #e9e9e955 25%, transparent 25%) 0px 0/ 34px 34px, 
  linear-gradient(45deg, #e9e9e9 25%, #d5d5d5 25%) 0px 0/ 34px 34px;
  */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #008080;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.myFadeInDown {
  display: inline-block;
  animation: fadeInDown;
  animation-duration: var(--tiempo-animacion);
}

.myFadeInLeft {
  display: inline-block;
  animation: fadeInLeft;
  animation-duration: var(--tiempo-animacion);
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
