{% extends "blog/base.html" %}

{% block tab %}
<title>Nietonline! - Info</title>
{% endblock tab %}

{% block contenido %}

    <h1>Quiénes Somos</h1>
    {% for post in posts %}
    <article class="media content-section" style="background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);">
        <div class="media-body">
          <div class="article-metadata">
            <div class="mr-2">{{ post.autor }}</div>
          </div>
          <h2><div class="article-title">{{ post.titulo }}</div></h2>
          <p class="article-content">{{ post.contenido }}</p>
        </div>
      </article>
    {% endfor %}

    {% endblock contenido %}