{% extends "blog/base.html" %}

{% block tab %}
<title>Nietonline!</title>

<!-- icon in tab -->
<!-- Image from the public domain (placeholder) -->
<link rel = "icon" href = 
"https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/N_on_green_and_black.svg/420px-N_on_green_and_black.svg.png" 
        type = "image/x-icon">


{% endblock tab %}

{% block contenido %}
<h1>Elija una aplicación</h1>
<nav>
  <ul>
    <div class="container">
    <div class="row justify-content-start">
      {% for icon in icons %} <!-- each icon is a tuple -->
      <div class="col">
      <!--<div class="animate__animated animate__fadeInDown animate__delay-1s" style="--tiempo-animacion: 1.{{forloop.counter}}s">-->
          <div class="myFadeInDown" style="--tiempo-animacion: {{icon.secondElement}}s;">
            <div class="card h-100" style="width:150px;">
              <a href="/search/?q={{icon.firstElement}}"><img src="/static/blog/img/icons/{{icon.firstElement}}.png" width="150" height="150" class="card-img-top" alt={{icon.firstElement}}></a>
 
              <div class="card-body">
                <h6 class="card-title">{{icon.firstElement}}</h6>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
     
    </div>
  </ul>
  

</nav>

<div class="container">
  <div class="row g-1">
    <div class="col-6">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
  </div>
</div>

   

{% endblock contenido %}
