{% extends "blog/base.html" %}
{% block contenido %}
    <h1>NietOnline!</h1>
<nav>
    <ul>
            <h4>Principales buscadas:      (pinche en las fotos)</h4>
            <li>Netflix: </li>
            <img src="https://phantom-elmundo.unidadeditorial.es/ac7014ede51b138d32425e01fc632095/crop/130x0/1855x1150/resize/600/f/webp/assets/multimedia/imagenes/2020/06/24/15930194372255.jpg" width="200"
            height="100">
            <li>Spotify: </li>
            <img src="https://mms.businesswire.com/media/20201217006232/es/847886/2/Spotify_Logo_RGB_Green_copy.jpg" width="200"
            height="100">
            <li>Facebook: </li>
            <img src="https://s1.eestatic.com/2018/03/01/actualidad/actualidad_288735933_130132455_1024x576.jpg" width="200"
            height="100">
            <li>Youtube: </li> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png" width="200"
            height="100">
            <li>Google: </li>
            <img src="https://brandemia.org/sites/default/files/sites/default/files/logo_google_nuevo.jpg" width="200"
            height="100">

    </ul>
</nav>
{% endblock contenido %}
