{% extends "blog/base.html" %}
{% block contenido %}
    <h1>NietOnline!</h1>
<nav>
    <ul>
            <li>Principales buscadas:</li>
            <li>Netflix </li>
            <img src="https://phantom-elmundo.unidadeditorial.es/ac7014ede51b138d32425e01fc632095/crop/130x0/1855x1150/resize/600/f/webp/assets/multimedia/imagenes/2020/06/24/15930194372255.jpg" width="200"
            height="100">
            <li>Spotify </li>
            <img src="https://mms.businesswire.com/media/20201217006232/es/847886/2/Spotify_Logo_RGB_Green_copy.jpg" width="200"
            height="100">
            <li>Facebook </li>
            <img src="https://s1.eestatic.com/2018/03/01/actualidad/actualidad_288735933_130132455_1024x576.jpg" width="200"
            height="100">

    </ul>
</nav>
{% endblock contenido %}
