{% extends "blog/base.html" %} 

{% block tab %}
<title>Nietonline! - {{search}}</title>
<!--TENGO Q ARREGLAR ESTO -BENJAS -->
    {% if "/static/blog/img/icons/{{search}}.png" %}
        <link rel = "icon" href = 
        "/static/blog/img/icons/{{search}}.png" 
                type = "image/x-icon">
    {% else %}
        <link rel = "icon" href = 
        "https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/N_on_green_and_black.svg/420px-N_on_green_and_black.svg.png" 
                type = "image/x-icon">
    {% endif %}

{% endblock tab %}

{% block contenido %} 

    <h1>Resultados para: {{search}}</h1>
    <!--<a href="#"><img src="/static/blog/img/icons/{{search}}.png" width="100" class="card-img-top" alt={{search}}></a>-->


    {% for tutorial in tutorialsList %}
        <h1>"nombre: {{tutorial.name}} link: {{tutorial.link}} descripcion: {{tutorial.description}}</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{tutorial.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <iframe width="640" height="360" src={{tutorial.link}} title="YouTube video player" 
                        frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    {% empty %}
        <h2>No se encontraron resultados.</h2>
    {% endfor %}

    <br>
    <h4>Búsquedas relacionadas:</h4>
    {% for tag in tags %}
        <a href="/search/?q={{tag}}"><button type="button" class="btn btn-outline-success">{{tag}}</button></a>
    {% empty %}
        <h6> Nope! </h6>
    {% endfor %}

    
    <script>
        $("#myModal").on('hidden.bs.modal', function (e) {
            $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
        });
    </script>  
{% endblock contenido %} 