{% extends "blog/base.html" %} 

{% block tab %}
<title>Nietonline! - Resultados de búsqueda para: {{search}}</title>


{% endblock tab %}

{% block contenido %} 

    <h1>Resultados para: {{search}}</h1>
    <!--<a href="#"><img src="/static/blog/img/icons/{{search}}.png" width="100" class="card-img-top" alt={{search}}></a>-->


    {% for tutorial in tutorialsList %}
        <h1>{{tutorial.name}}</h1>
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#a{{tutorial.id}} ">
            Reproducir Video
          </button>

          <!-- Modal -->
          <div class="modal fade" id="a{{tutorial.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content"style="width: 675px">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{tutorial.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body center">
                  <iframe width="640" height="360" src='{{tutorial.link}}' title="YouTube video player" 
                        frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                </div>
              </div>
            </div>
          </div>
          <br><br>
          <br><br>
          <br><br>
    {% empty %}
        <h2>No se encontraron resultados.</h2>
    {% endfor %}

    <br>
    <h4>Búsquedas relacionadas:</h4>
    {% for tag in tags %}
        <a href="/search/?q={{tag}}"><button type="button" class="btn btn-outline-success">{{tag}}</button></a>
    {% empty %}
        <h6> Nope! </h6>
    {% endfor %}

    
    <script>
        $("#myModal").on('hidden.bs.modal', function (e) {
            $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
        });
    </script>  
{% endblock contenido %} 